* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: white;
}

.input,
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.content {
  margin: "0 8px";
}

.appearance .MuiInputBase-input {
  padding: 16.5px 14px !important;
}

.twinkle {
  color: orange;
  animation: twinkle 1s linear infinite;
}

@keyframes twinkle {
  0% {
    color: orange;
  }
  50% {
    color: #ffd700;
  }
}

a {
  text-decoration: none;
}
