body {
  margin: 0px;
  background-color: #f8f5ec;
  color: #212121;
  font-family: aktiv-grotesk, sans-serif;
}

.input,
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.content {
  margin: "0 8px";
}
